.myRadio {
  text-align: center;
  /* padding-top: 3px; */
  padding-bottom: 10px;
}

body {
  font-family: 'Inconsolata', monospace;
}

label, a {
  font-weight: bold;
}

textarea {
  height: 300px;
  font-size: 1rem !important;
  margin-bottom: 10px !important;
}

.custom {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

@media (max-width: 500px) {
  .custom {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

}

ul {
  margin-bottom: 10px !important;
}
