.tabAing {
  /* margin-left: 50%; */
  margin: auto;
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}

@media (max-width: 500px) {
  .tabAing {
    /* width: 50%; */
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0%;
    padding-right: 0%;
  }

  textarea {
    width: 475px !important;
    height: 200px;
    resize: both;
    overflow: auto;
  }
}

button {
  margin-top: 5px;
}

/* body {
  background-image: url("F:/NGODING_GAESS/impactList/images/962887.jpg");
  background-size: cover;
} */

ul {
  margin-top: 10px;
}
